<!DOCTYPE html>
<html>
<head>
  <title>Interactive Bar Chart</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <style>
    .bar {
      fill: steelblue;
    }

    .label {
      font-size: 12px;
      fill: black;
    }
  </style>
</head>
<body>
  <h1>Interactive Bar Chart</h1>

  <div>
    <label for="companySelect">Select an Insurance Company:</label>
    <select id="companySelect"></select>
  </div>

  <div id="visualization"></div>

  <script src="../static/script3.js"></script>

  "></script>
</body>
</html>

